---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$pelorous: #2C8EBB;
$matisse: #1476A2;
$brand-primary: $pelorous;
// $navbar-brand-padding-y: 0rem;
$navbar-light-color: rgba(0,0,0,.4);

@import "bootstrap/scss/bootstrap.scss";

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

@include media-breakpoint-down('md') {
  .navbar-toggleable-md {
    clear: both;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  top: -2px;
}

.icon-language {
  background-image: url(/assets/language.svg);
  margin-right: 4px;
}

.navbar-light .nav-item .nav-link .icon {
  opacity: .4;
}

.navbar-light .nav-item .nav-link:hover .icon,
.navbar-light .nav-item .nav-link:focus .icon {
  opacity: .6;
}

.navbar-light .nav-item.active .nav-link .icon,
.navbar-light .nav-item.open > .nav-link .icon {
  opacity: .8;
}

.navbar .navbar-brand {
  font-family: "Grand Hotel";
  font-size: 2em;
  line-height: 0.90;
  text-transform: lowercase;
  color: $pelorous;
  margin-right: 2rem;
}

.hero {
  margin-bottom: 4rem;
  padding: 4rem 0;
  color: white;
  background-color: $pelorous;
  background-image:
    url(/assets/border-top-or-bottom.png),
    url(/assets/border-top-or-bottom.png),
    url(/assets/background-noise-blue.png);
  background-repeat: repeat-x, repeat-x, repeat;
  background-position: top -4px center, bottom -4px center, center center;
  background-size: 144px auto, 144px auto, 25px auto;
  -webkit-font-smoothing: antialiased;
}

.hero-title {
  font-size: 2.4em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 5px 5px $matisse;
}

.hero-text {
  text-shadow: 2px 3px $matisse;
}

.hero-btn {
  @include button-outline-variant($matisse);
  @include button-size($btn-padding-y-lg * 2, $btn-padding-x-lg * 3, $font-size-lg * 1.5, $btn-border-radius-lg);

  color: white;
  border-width: 2px;

  @include hover {
    color: $pelorous;
    background-color: white;
    border-color: white;
  }
}

.features + .hero {
  margin-top: 3rem;
}

.feature-divider {
  margin: 5rem 0;
}

.feature-heading {
  font-weight: normal;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

a code:hover {
  color: $code-color;
  text-decoration: underline;
}

.guide-content {
  line-height: 1.8;

  p {
    margin-bottom: 1.2rem;
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2rem;
    margin-bottom: 1.2rem;

    code {
      background: $pelorous; //$code-color;
      color: $code-bg;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
    }
  }

  blockquote {
    margin-bottom: 1.2rem;
    padding: 1.2rem 1.2rem 0;
    border: 1px solid $gray-lighter;
    background: $gray-lightest;
    border-left: $border-radius solid $gray-light;
    border-radius: $border-radius;

    code {
      background-color: $gray-lighter;
    }
  }
}

#goog-fixurl ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#goog-fixurl form {
  margin-top: 1rem;
  @extend .form-inline;
}

#goog-fixurl .other-things {
  display: none;
}

#goog-fixurl input[type="text"] {
  @extend .form-control;
  @extend .pull-md-left;
  margin-right: 0.5rem;
}

#goog-fixurl input[type="submit"] {
  @extend .btn;
  @include button-outline-variant($matisse);
  color: white;
}

@include media-breakpoint-down('sm') {
  .hero-btn {
    display: block;
    width: 100%;
  }
}

@media (min-width: 40em) {
  .hero-title {
    font-size: 3em;
  }

  .feature-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .hero-title {
    font-size: 4em;
  }

  .feature-heading {
    margin-top: 5.5rem;
  }

  .featurette {
    margin-bottom: 3rem;
  }
}

.rougeHighlight { background-color: $code-bg; color: darken(#93a1a1, 15%) }
.rougeHighlight .c { color: #586e75 } /* Comment */
.rougeHighlight .err { color: darken(#93a1a1, 15%) } /* Error */
.rougeHighlight .g { color: darken(#93a1a1, 15%) } /* Generic */
.rougeHighlight .k { color: #859900 } /* Keyword */
.rougeHighlight .l { color: darken(#93a1a1, 15%) } /* Literal */
.rougeHighlight .n { color: darken(#93a1a1, 15%) } /* Name */
.rougeHighlight .o { color: #859900 } /* Operator */
.rougeHighlight .x { color: #cb4b16 } /* Other */
.rougeHighlight .p { color: darken(#93a1a1, 15%) } /* Punctuation */
.rougeHighlight .cm { color: #586e75 } /* Comment.Multiline */
.rougeHighlight .cp { color: #859900 } /* Comment.Preproc */
.rougeHighlight .c1 { color: #72c02c; } /* Comment.Single */
.rougeHighlight .cs { color: #859900 } /* Comment.Special */
.rougeHighlight .gd { color: #2aa198 } /* Generic.Deleted */
.rougeHighlight .ge { color: darken(#93a1a1, 15%); font-style: italic } /* Generic.Emph */
.rougeHighlight .gr { color: #dc322f } /* Generic.Error */
.rougeHighlight .gh { color: #cb4b16 } /* Generic.Heading */
.rougeHighlight .gi { color: #859900 } /* Generic.Inserted */
.rougeHighlight .go { color: darken(#93a1a1, 15%) } /* Generic.Output */
.rougeHighlight .gp { color: darken(#93a1a1, 15%) } /* Generic.Prompt */
.rougeHighlight .gs { color: darken(#93a1a1, 15%); font-weight: bold } /* Generic.Strong */
.rougeHighlight .gu { color: #cb4b16 } /* Generic.Subheading */
.rougeHighlight .gt { color: darken(#93a1a1, 15%) } /* Generic.Traceback */
.rougeHighlight .kc { color: #cb4b16 } /* Keyword.Constant */
.rougeHighlight .kd { color: #268bd2 } /* Keyword.Declaration */
.rougeHighlight .kn { color: #859900 } /* Keyword.Namespace */
.rougeHighlight .kp { color: #859900 } /* Keyword.Pseudo */
.rougeHighlight .kr { color: #268bd2 } /* Keyword.Reserved */
.rougeHighlight .kt { color: #dc322f } /* Keyword.Type */
.rougeHighlight .ld { color: darken(#93a1a1, 15%) } /* Literal.Date */
.rougeHighlight .m { color: #2aa198 } /* Literal.Number */
.rougeHighlight .s { color: #2aa198 } /* Literal.String */
.rougeHighlight .na { color: darken(#93a1a1, 15%) } /* Name.Attribute */
.rougeHighlight .nb { color: #B58900 } /* Name.Builtin */
.rougeHighlight .nc { color: #268bd2 } /* Name.Class */
.rougeHighlight .no { color: #cb4b16 } /* Name.Constant */
.rougeHighlight .nd { color: #268bd2 } /* Name.Decorator */
.rougeHighlight .ni { color: #cb4b16 } /* Name.Entity */
.rougeHighlight .ne { color: #cb4b16 } /* Name.Exception */
.rougeHighlight .nf { color: #268bd2 } /* Name.Function */
.rougeHighlight .nl { color: darken(#93a1a1, 15%) } /* Name.Label */
.rougeHighlight .nn { color: darken(#93a1a1, 15%) } /* Name.Namespace */
.rougeHighlight .nx { color: darken(#93a1a1, 15%) } /* Name.Other */
.rougeHighlight .py { color: darken(#93a1a1, 15%) } /* Name.Property */
.rougeHighlight .nt { color: #268bd2 } /* Name.Tag */
.rougeHighlight .nv { color: #268bd2 } /* Name.Variable */
.rougeHighlight .ow { color: #859900 } /* Operator.Word */
.rougeHighlight .w { color: darken(#93a1a1, 15%) } /* Text.Whitespace */
.rougeHighlight .mf { color: #2aa198 } /* Literal.Number.Float */
.rougeHighlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.rougeHighlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.rougeHighlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.rougeHighlight .sb { color: #586e75 } /* Literal.String.Backtick */
.rougeHighlight .sc { color: #2aa198 } /* Literal.String.Char */
.rougeHighlight .sd { color: darken(#93a1a1, 15%) } /* Literal.String.Doc */
.rougeHighlight .s2 { color: #2aa198 } /* Literal.String.Double */
.rougeHighlight .se { color: #cb4b16 } /* Literal.String.Escape */
.rougeHighlight .sh { color: darken(#93a1a1, 15%) } /* Literal.String.Heredoc */
.rougeHighlight .si { color: #2aa198 } /* Literal.String.Interpol */
.rougeHighlight .sx { color: #2aa198 } /* Literal.String.Other */
.rougeHighlight .sr { color: #dc322f } /* Literal.String.Regex */
.rougeHighlight .s1 { color: #2aa198 } /* Literal.String.Single */
.rougeHighlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.rougeHighlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.rougeHighlight .vc { color: #268bd2 } /* Name.Variable.Class */
.rougeHighlight .vg { color: #268bd2 } /* Name.Variable.Global */
.rougeHighlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.rougeHighlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

.highlighter-rouge {
  max-width: 100%;
  margin-bottom: 1.2rem;

  pre {
    margin-bottom: 0;
  }

  .rougeHighlight {
    border-radius: 3px;
    padding: .6rem 1.2rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
      background: none;
      border: none;

      tbody {
        tr {
          background: none;
          display: flex;
          flex-flow: row nowrap;

          td {
            display: block;
            flex: 1 1;

            &.gutter {
              max-width: 40px;
              padding-left: 1rem;
              padding-right: 1rem;

              pre {
                max-width: 20px;
                color: $gray-light;
              }
            }
          }
        }
      }
    }
  }
}

// a:hover {
//   .highlighter-rouge {
//     color: white;
//   }
// }
