---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$yarn-blue: #2C8EBB;
$yarn-blue-dark: #2188b6;
$yarn-blue-darker: #1b7eab;
$yarn-blue-darkest: #1476A2;

$brand-primary: $yarn-blue;

$navbar-light-color: rgba(0, 0, 0, 0.4);

@import "bootstrap/scss/bootstrap.scss";
@import "_base.scss";
@import "_navbar.scss";
@import "_icons.scss";
@import "_heros.scss";
@import "_features.scss";
@import "_featurettes.scss";
@import "_guides.scss";
@import "_code.scss";
@import "_users.scss";
@import "_404.scss";
@import "_tabs.scss";
@import "_navs.scss";
@import "_cards.scss";
