---
id: search
layout: page
stylesheets:
  - "https://cdn.jsdelivr.net/instantsearch.js/1.10.5/instantsearch.min.css"
scripts:
  - "https://cdn.jsdelivr.net/momentjs/2.17.1/moment.min.js"
  - "https://cdn.jsdelivr.net/instantsearch.js/1.10.5/instantsearch-preact.js"
  - "/js/search.js"
title: Package Search
featured_packages:
  -
    - "babel-core"
    - "react"
    - "async"
  -
    - "lodash"
    - "debug"
    - "qs"
---

<div class="pkg-search">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input id="pkg-search-input" class="search-input form-control" type="search" />
      <div id="pkg-search-btn-clear" class="search-btn-clear" style="display: none"></div>
    </div>
  </div>

  <div class="row">
    <div id="pkg-search-results" class="col-lg-8 offset-lg-2">
      <div id="pkg-search-refinements"></div>
      <div id="pkg-search-hits"></div>
      <div id="pkg-search-pagination" class="text-center"></div>
    </div>
  </div>

  <div id="pkg-featured">
    <div class="row">
      <div class="col-md-1"></div>
      {% for group in page.featured_packages %}
        <div class="col-md-5 pkg-group-{{ forloop.index }}">
          {% for pkg in group %}
            <div class="pkg-featured-pkg" data-name="{{ pkg }}"></div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="search-footer">
  Search by Algolia – <a href="https://discourse.algolia.com/t/2016-algolia-community-gift-yarn-package-search/319">read how it works</a>.
</div>
