---
layout: default
---

{% include vars.html %}

<div class="hero">
  <div class="container">
    <h1 class="hero-title">
      {{i18n.homepage_tagline}}
    </h1>
  </div>
</div>

<div class="container features">
  <div class="row feature">
    <div class="col-lg-7">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_fast_title}}
        <span class="text-muted">
          {{i18n.homepage_feature_fast_subtitle}}
        </span>
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_fast_description}}
      </p>
    </div>
    <div class="col-lg-5">
      <img class="feature-image img-fluid m-x-auto"
        src="/assets/feature-speed.png"
        width="500" height="300"
        alt="{{i18n.homepage_feature_fast_image_alt}}"/>
    </div>
  </div>

  <hr class="feature-divider">

  <div class="row feature">
    <div class="col-lg-7 push-lg-5">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_secure_title}}
        <span class="text-muted">
          {{i18n.homepage_feature_secure_subtitle}}
        </span>
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_secure_description}}
      </p>
    </div>
    <div class="col-lg-5 pull-lg-7">
      <img class="feature-image img-fluid m-x-auto"
        src="/assets/feature-secure.png"
        width="500" height="300"
        alt="{{i18n.homepage_feature_secure_image_alt}}"/>
    </div>
  </div>

  <hr class="feature-divider">

  <div class="row feature">
    <div class="col-lg-7">
      <h2 class="feature-heading">
        {{i18n.homepage_feature_reliable_title}}
        <span class="text-muted">
          {{i18n.homepage_feature_reliable_subtitle}}
        </span>
      </h2>
      <p class="feature-text">
        {{i18n.homepage_feature_reliable_description}}
      </p>
    </div>
    <div class="col-lg-5">
      <img class="feature-image img-fluid m-x-auto"
        src="/assets/feature-reliable.png"
        width="500" height="300"
        alt="{{i18n.homepage_feature_reliable_image_alt}}"/>
    </div>
  </div>
</div>

<div class="hero">
  <div class="container">
    <p class="hero-prompt pull-md-left">
      {{i18n.homepage_c2a_text}}
    </p>

    <a href="{{url_base}}/docs/getting-started" class="btn hero-btn pull-md-right">
      {{i18n.homepage_c2a_button}}
    </a>
  </div>
</div>

<div class="container featurettes">
  <div class="row">
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_offline_title}}</h2>
      <p>{{i18n.homepage_featurette_offline_description}}</p>
    </div>

    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_lockfiles_title}}</h2>
      <p>{{i18n.homepage_featurette_lockfiles_description}}</p>
    </div>

    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_conflict_resolution_title}}</h2>
      <p>{{i18n.homepage_featurette_conflict_resolution_description}}</p>
    </div>
    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_npm_and_bower_title}}</h2>
      <p>{{i18n.homepage_featurette_npm_and_bower_description}}</p>
    </div>

    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_licenses_title}}</h2>
      <p>{{i18n.homepage_featurette_licenses_description}}</p>
    </div>

    <div class="col-lg-4 col-md-6 featurette">
      <h2>{{i18n.homepage_featurette_misc_title}}</h2>
      <p>{{i18n.homepage_featurette_misc_description}}</p>
    </div>
  </div>
</div>
