{% include vars.html %}

<hr class="feature-divider">

<div class="container">
  <footer>
    <p>
      Yarn &middot;
      <a href="https://github.com/yarnpkg/yarn/blob/master/LICENSE">{{i18n.site_bsd_license}}</a> &middot;
      <a href="{{url_base}}/org/code-of-conduct">{{i18n.code_of_conduct}}</a>

      <span class="pull-md-right">
        <span class="hidden-md-up">&middot;</span>
        {% if vars_active_language.tag == "en" %}
          <a href="https://github.com/yarnpkg/website/edit/master/{{page.path}}">
            {{i18n.site_edit_this_page}}
          </a>
        {% else %}
          <a href="{{url_base}}/org/translating">
            {{i18n.site_edit_this_page}}
          </a>
        {% endif %}
      </span>
    </p>
  </footer>
</div>
