<div class="alert alert-warning news-container-alert mt-4">
  <a class="news-overlay" href="https://yarnpkg.com/getting-started/migration#why-should-you-migrate"></a>
  <div class="news-inner">
    These instructions only cover Yarn versions prior to 2.0. They entered <a href="https://en.wikipedia.org/wiki/Maintenance_mode">maintenance mode</a> in January 2020 and will eventually reach their end-of-life in terms of support. To see the up-to-date documentation, check the main website: <a href="https://yarnpkg.com/getting-started">yarnpkg.com/getting-started</a>.
    <br>
    The latest Yarn version is: <img alt="Latest CLI Release" src="https://img.shields.io/npm/v/@yarnpkg/cli/latest?label=latest">
  </div>
</div>

{% include version.html %}
