<div class="mt-4">
  <div>
    {{i18n.site_nav_stable_version}}:
    <strong class="navbar-text">
      <a href="https://github.com/yarnpkg/yarn/blob/master/CHANGELOG.md">
        v{{site.latest_version}}
      </a>
    </strong>
    {% if site.show_rc %}
    <span aria-hidden="true">&bull;</span>
    {{i18n.site_nav_rc_version}}
    <strong>
      <a href="https://github.com/yarnpkg/yarn/releases/tag/v{{site.latest_rc_version}}">
        v{{site.latest_rc_version}}
      </a>
    </strong>
    {% endif %}
  </div>
  <div>
    {{i18n.site_nav_node_support}}:
    <strong>
      {{site.node_support}}
    </strong>
  </div>
</div>
