body {
  overflow-y: scroll; // Avoid reflows on vertical content change on Linux
  padding-bottom: 3rem;
  color: #5a5a5a;
}

a code {
  color: $brand-primary;
  text-decoration: underline;
}

svg {
  vertical-align: top;
}

.logo-primary   { fill: #2c8ebb; }
.logo-secondary { fill: #ffffff; }

.collapse.in {
  display: block;
}
