.rougeHighlight pre {
  background: $gray-dark;
  -webkit-font-smoothing: antialiased;
  border-left: 4px solid $yarn-blue;
  color: #ddd;
 }
.rougeHighlight .hll { background-color: #272822; }
.rougeHighlight .c { color: #75715e } /* Comment */
.rougeHighlight .err { color: #960050; background-color: #1e0010 } /* Error */
.rougeHighlight .k { color: #66d9ef } /* Keyword */
.rougeHighlight .l { color: #ae81ff } /* Literal */
.rougeHighlight .n { color: #f8f8f2 } /* Name */
.rougeHighlight .o { color: #f92672 } /* Operator */
.rougeHighlight .p { color: #f8f8f2 } /* Punctuation */
.rougeHighlight .cm { color: #75715e } /* Comment.Multiline */
.rougeHighlight .cp { color: #75715e } /* Comment.Preproc */
.rougeHighlight .c1 { color: #75715e } /* Comment.Single */
.rougeHighlight .cs { color: #75715e } /* Comment.Special */
.rougeHighlight .ge { font-style: italic } /* Generic.Emph */
.rougeHighlight .gs { font-weight: bold } /* Generic.Strong */
.rougeHighlight .kc { color: #66d9ef } /* Keyword.Constant */
.rougeHighlight .kd { color: #66d9ef } /* Keyword.Declaration */
.rougeHighlight .kn { color: #f92672 } /* Keyword.Namespace */
.rougeHighlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.rougeHighlight .kr { color: #66d9ef } /* Keyword.Reserved */
.rougeHighlight .kt { color: #66d9ef } /* Keyword.Type */
.rougeHighlight .ld { color: #e6db74 } /* Literal.Date */
.rougeHighlight .m { color: #ae81ff } /* Literal.Number */
.rougeHighlight .s { color: #e6db74 } /* Literal.String */
.rougeHighlight .na { color: #a6e22e } /* Name.Attribute */
.rougeHighlight .nb { color: #f8f8f2 } /* Name.Builtin */
.rougeHighlight .nc { color: #a6e22e } /* Name.Class */
.rougeHighlight .no { color: #66d9ef } /* Name.Constant */
.rougeHighlight .nd { color: #a6e22e } /* Name.Decorator */
.rougeHighlight .ni { color: #f8f8f2 } /* Name.Entity */
.rougeHighlight .ne { color: #a6e22e } /* Name.Exception */
.rougeHighlight .nf { color: #a6e22e } /* Name.Function */
.rougeHighlight .nl { color: #f8f8f2 } /* Name.Label */
.rougeHighlight .nn { color: #f8f8f2 } /* Name.Namespace */
.rougeHighlight .nx { color: #a6e22e } /* Name.Other */
.rougeHighlight .py { color: #f8f8f2 } /* Name.Property */
.rougeHighlight .nt { color: #f92672 } /* Name.Tag */
.rougeHighlight .nv { color: #f8f8f2 } /* Name.Variable */
.rougeHighlight .ow { color: #f92672 } /* Operator.Word */
.rougeHighlight .w { color: #f8f8f2 } /* Text.Whitespace */
.rougeHighlight .mf { color: #ae81ff } /* Literal.Number.Float */
.rougeHighlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.rougeHighlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.rougeHighlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.rougeHighlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.rougeHighlight .sc { color: #e6db74 } /* Literal.String.Char */
.rougeHighlight .sd { color: #e6db74 } /* Literal.String.Doc */
.rougeHighlight .s2 { color: #e6db74 } /* Literal.String.Double */
.rougeHighlight .se { color: #ae81ff } /* Literal.String.Escape */
.rougeHighlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.rougeHighlight .si { color: #e6db74 } /* Literal.String.Interpol */
.rougeHighlight .sx { color: #e6db74 } /* Literal.String.Other */
.rougeHighlight .sr { color: #e6db74 } /* Literal.String.Regex */
.rougeHighlight .s1 { color: #e6db74 } /* Literal.String.Single */
.rougeHighlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.rougeHighlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.rougeHighlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.rougeHighlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.rougeHighlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.rougeHighlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.rougeHighlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.rougeHighlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.rougeHighlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

.language-diff .gi {
  color: $brand-success;
  background: lighten($brand-success, 37%);
  display: block;
}

.language-diff .gd {
  color: $brand-danger;
  background: lighten($brand-danger, 37%);
  display: block;
}

pre {
  max-width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 3px;
  padding: .6rem 1.2rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  table {
    background: none;
    border: none;

    tbody {
      tr {
        background: none;
        display: flex;
        flex-flow: row nowrap;

        td {
          display: block;
          flex: 1 1;

          &.gutter {
            max-width: 40px;
            padding-left: 1rem;
            padding-right: 1rem;

            pre {
              max-width: 20px;
              color: $gray-light;
            }
          }
        }
      }
    }
  }
}
