.compare-legend-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: $border-radius-sm;
  vertical-align: middle;
  margin-top: -1px;
}

.compare-legend-icon:nth-child(n+2) {
  margin-left: 1.5rem;
}

.compare-legend-icon-npm {
  background: $npm-red;
}

.compare-legend-icon-yarn {
  background: $yarn-blue;
}

.compare {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  background: $gray-lightest;
}

.compare-heading {
  margin-bottom: 1rem;
}

.compare-item-progress {
  height: 2rem;
  overflow: hidden;
}

.compare-item-label {
  font-size: 1rem;
  line-height: 2rem;
}

.compare-item-npm .compare-item-progress {
  @include progress-variant($npm-red);
}

.compare-item-yarn .compare-item-progress {
  @include progress-variant($yarn-blue);
}
