.copyable {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $gray-lighter;
  padding: 1em;
  margin: .5em 0 .5em;

  &--code {
    flex-grow: 1;
    background: none;
    color: #666666;
  }

  &--button {
    background: none;
    border: none;
    border-radius: 0;
    color: #666666;
    &__img {
      height: 1em;
      width: 1em;
      margin-right: .3em;
    }
  }
}
