.details {
  &-links {
    &--link {
      color: grey;
      padding: .5em 1em;
      margin: .2em;
      border-radius: .2em;
      border: 1px solid rgba(0, 0, 0, 0.5);
      display: block;
      font-size: 1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      img {
        margin-right: .2em;
        height: 1em;
        width: 2em;
        object-fit: contain;
        opacity: .5;
      }
    }
  }

  &-side {
    h1 {
      font-size: 1.4em;
    }

    article {
      margin-bottom: 2em;
    }

    &--runkit {

      &:after {
        content: '';
        width: 1em;
        height: 1em;
        background-size: contain;
        background-image: url('/assets/search/ico-runkit.svg');
      }
    }
  }
}

.copyable {
  display: flex;
  width: 100%;
  background-color: $gray-lighter;
  padding: 1em;
  margin: .5em 0 .5em;

  &--code {
    flex-grow: 1;
    background: none;
    color: #666666;
  }

  &--button {
    background: none;
    border: none;
    border-radius: 0;
    color: #666666;
    &__img {
      height: 1em;
      width: 1em;
      margin-right: .3em;
    }
  }
}
