.details {
  &-links {
    &--link {
      color: grey;
      padding: .5em 1em;
      margin: .2em;
      border-radius: .2em;
      border: 1px solid #CBCBCB;
      display: block;
      font-size: 1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      img {
        margin-right: .2em;
        height: 1em;
        width: 2em;
        object-fit: contain;
        opacity: .5;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-main {
      border-right: 1px solid #CBCBCB;
    }
  }

  &-doc {
    margin: 2em;
    margin-right: 0;

    &--title {
      display: inline-block;
      color: #666;
      border-bottom: dotted 1px;
      position: relative;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:before {
        content: '';
        position: absolute;
        left: -1em;
        top: .2em;
        width: 0.8em;
        height: 0.8em;
        background: {
          repeat: no-repeat;
          size: contain;
        }
      }
      
      &__readme:before {
        background-image: url('/assets/detail/ico-readme.svg');
      }

      &__changelog:before {
        background-image: url('/assets/detail/ico-changelog.svg');
      }
    }

    &--content {
      h1 {@extend .h4}
      h2 {@extend .h5}
      h3 {@extend .h6}
      h4 {@extend .h6}
      h5 {@extend .h6}
      h6 {@extend .h6}
      blockquote {@extend .blockquote}
      table {@extend .table}
    }
  }

  &-side {

    dt {
      font-weight: normal;
    }

    dd {
      margin-bottom: 0;
    }

    dl div {
      margin-bottom: .5em;

      img {
        height: 1.2em;
        width: 1.2em;
        margin-right: .4em;
        object-fit: contain;
        align-self: center;
      }
    }

    h1 {
      font-size: 1.2em;
    }

    article {
      margin-bottom: 2em;
    }

    &--runkit {

      &:after {
        content: '';
        width: 1em;
        height: 1em;
        background-size: contain;
        background-image: url('/assets/detail/ico-runkit.svg');
      }
    }
  }
}

.dotted {
  border-bottom: 1px dotted #666;
  margin: 0 .5em 5px .5em;
}

.flex-grow {
  flex-grow: 1;
}
