.featurette {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h2 {
    color: $gray;
    font-weight: 300;
  }

  p {
    color: $text-muted-er;
    font-weight: 300;
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up('md') {
  .featurette {
    height: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
