.hero {
  position: relative;
  margin: 1rem 0;
  padding: 2.5rem 0;
  color: white;
  background-color: $yarn-blue-dark;
  background-size: 25px auto;

  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  a {
    color: white;
    text-decoration: underline;
  }
}

.hero::before,
.hero::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 7px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAAOCAMAAAC4jDFAAAAAnFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9FaQsiAAAAM3RSTlP69O/s8QoN9hIGBOjmfQEadiYfgnFTFr6TbGjORo6GpWJeuJuKOCzGsaqeMdeWP6HeWU5mrKx6AAAFQklEQVR4ATyMBXIEUAxCazAkFeavcP+jlmpc3wMtQQSwO8MWsa1zOVJExMeXXFyJTOqSBi6YJhLVeD9+pIgGUGpR4M9IKQyMsIMSLk4uEYkahjVjdheW9c/qpTizRWD0/QzOgiSwPcDf6UADWAmx2zbflJZVEFT1+7FjHB9f7CQQOcPYnywRBbYjKTDuTONu7W65/+GW/LcFlDs8Jecp6w/+L5/qP17PQz0zbP23bhC3DC2U6XLoCShWES1T+y6HYggkrGtZzrL3EM5VHBt+y0ZrGSN+Z2NjGUY1+g38GFnTMKDynadhsuya8AMp2WlVhXlPrTVfJoOD3qmmXjLcjLnPdXzYscH1wiCM1P57/sGLM7c39Zi9ntmCcgeb2i5jgzBHI6qzNDZKa33+1rowi2v7ReOIHtfrw+Z5xNcHThM+fn/A8bKoZd9LXaPnzWoqyzD0kkZWZyngUWvF8AN/ba4Zwr8/+TvYfpfvgRjgxFYWXVGVwveFeF8ux8/5cN6kXz+TeN8PF9Oe7vfjadou5/PnsxkJCXAk9EKYTs4gDAMRopQO6or0IXRCzKsmlGigKVWgKsS0BvMxQ6XcvKUMk+imqRj6HChgRNkaQLSrRLu2UzoAaqU0jCkQODmVEMayb8/GD13ZD4Of1VpVBILcR5DDVML1TgKpSKQUVJDIqe1SM5BAmZwoJZ0xRZEaOLdFpQBcwXZ/v7c2aXvqo9fQzTMgNHRdZ1oPU9YUFhX1/7FXFVl2wwBM9J4W9n6Wc4jc/26NM20HP5ZBIZMgDvjxYcKcKVjGI2K67cC+c4obsGr0cWk3LDShYoahHTZ0tGASJFtyaGR6yCJBSAGlEReHW0txetqSOjQolgQKa8j2jEmGGXsxQEMqI+ZIZGse27AVZy960RKqLCtHXLrEwQ0WKpEGNqAFNbJIw0soRFuu4lIeFhVs/3EWwKmOa8hnqvh8wv3Rni94Z3XCE7fdwTPtJPO5jHvyn1K9cZpPa6zz+/g4+QBOGl9+XrjnRfkPfH8STj80nBh88v3+pbd5ACeKOC53vLurcHrEWws8d94FfBwVt0zOacZzyl8EbL8/EFEe8/Piz7ZgVtHD1sgQ0QIbYFIqFsKsAjk0qFhlWTFZJE/NOLKX0NpsJYPOiHhwk+kRhqT34qLJKECWWrqVZE9Pim1YAnWGREQCQepwy0rBliRIayFmytgMQ0dMioWtPV4L87hgoya/vMQNleHDrZk05sPjJxLrQ0WCEAYA6F6vAUEh4wS7YEGn/f/HXXaPbu/mWaW9YjyCF7ZQrdUpCXMyjK23qkWicvz8fBywC9A5lpdfcpFzq1TcjLkqhTBLLWORIoNSXmqGLfNWqVVwr5YryZx3PW3vLdVu6aW05IVIYzEQM/h/O8MD0nvBbFYJVBISaAitxzEqjrvBp9G5E09gH8gNNQ8BD7TvE7E612ReeTIJUfbuYC6VEJuTBtjVxD0wJY9x3/HnQq+3jx8cv7tdjpcbHwSfIcZmMeVYYzrQAMnbtf21XB84DMMgAAA1uheGhiyRHeiw4sr5/9+67xc3C/3zsV0RctnJTBviotTNcoOg3Cb57d4MeVLKaotaDjGGIgRKP8/ZbDYr2iyp7Tr5POjzoVmUhAN8/7sEfLcJFD2mhOaDqLmqwwDbHXi1WPF7il8nSVrnOCiZl01bdnXnjSCoFVXtqibn2RAwTs1YlNe8wG+yAT7Djl1x/DzQf/a1QUViMc+xPjOLeFil5ttxcq6+5dMwPB7vYL6bmcdYsLTZoz+eb/eh5CQgS4qmcy3Ek74AfwYQ++m3uxQAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  background-size: 144px auto;
}

.hero::before {
  top: 0;
  background-position: top -4px center;
}

.hero::after {
  bottom: 0;
  background-position: bottom -4px center;
}

.navbar + .hero {
  margin-top: 0;
}

.hero-logo {
  position: absolute;
  top: 50%;
  right: -3.5rem;
  transform: translate(0, -50%);
  height: 140%;
}
.hero-logo .logo-primary   { fill: $yarn-blue-darker; }
.hero-logo .logo-secondary { fill: $yarn-blue; }

.hero-title {
  position: relative;
  margin-bottom: 2.25rem;
  z-index: 1;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-text {
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-prompt {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 3px $yarn-blue-darkest;
  margin-bottom: 1rem;
}

.hero-btn {
  @include button-outline-variant($yarn-blue-darkest);
  @include button-size($btn-padding-y-lg * 1.5, $btn-padding-x-lg * 1.5, $font-size-lg * .8, $btn-border-radius-lg);
  font-size: 1.2rem;
  color: white;
  border-width: 2px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03rem;

  @include hover {
    color: $yarn-blue-dark;
    background-color: white;
    border-color: white;
  }
}

.hero a.hero-btn {
  text-decoration: none;
}

.hero-ghbtn {
  display: inline-block;
  vertical-align: middle;
}

@include media-breakpoint-down('sm') {
  .hero-btn {
    display: block;
    width: 100%;
  }

  .hero-btn + .hero-btn {
    margin-top: 1rem;
  }
}


@include media-breakpoint-up('sm') {
  .hero {
    margin: 3rem 0;
    padding: 4rem 0;
  }

  .hero-title {
    font-size: 2.8em;
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-text {
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-prompt {
    font-size: 2.8rem;
    margin: 0 0 1.3rem;
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-btn + .hero-btn {
    margin-left: 1rem;
  }
}

@include media-breakpoint-down('md') {
  .hero-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@include media-breakpoint-up('md') {
  .hero-title {
    font-size: 3.7em;
  }

  .hero-prompt {
    font-size: 2.2rem;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up('lg') {
  .hero {
    padding: 5rem 0;
  }

  .hero-title {
    font-size: 4em;
  }

  .hero-prompt {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .hero-ghbtn {
    margin-left: 2rem;
  }
}

@include media-breakpoint-up('xl') {
  .hero-title {
    font-size: 4.5em;
  }

  .hero-prompt {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
