.hero {
  position: relative;
  margin: 1rem 0;
  padding: 2.5rem 0;
  color: white;
  background-color: $yarn-blue;
  background-size: 25px auto;

  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.hero::before,
.hero::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 7px;
  background-image: url(/assets/border-top-or-bottom.png);
  background-repeat: repeat-x;
  background-size: 144px auto;
}

.hero::before {
  top: 0;
  background-position: top -4px center;
}

.hero::after {
  bottom: 0;
  background-position: bottom -4px center;
}

.navbar + .hero {
  margin-top: 0;
}

.hero-logo {
  position: absolute;
  top: 50%;
  right: -3.5rem;
  transform: translate(0, -50%);
  height: 140%;
}
.hero-logo .logo-primary   { fill: $yarn-blue-darker; }
.hero-logo .logo-secondary { fill: $yarn-blue; }

.hero-title {
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-text {
  text-shadow: 2px 3px $yarn-blue-darkest;
}

.hero-prompt {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2px 3px $yarn-blue-darkest;
  margin-bottom: 1rem;
}

.hero-btn {
  @include button-outline-variant($yarn-blue-darkest);
  @include button-size($btn-padding-y-lg * 1.5, $btn-padding-x-lg * 2, $font-size-lg * 1.5, $btn-border-radius-lg);
  color: white;
  border-width: 2px;

  @include hover {
    color: $yarn-blue;
    background-color: white;
    border-color: white;
  }
}

.hero-ghbtn {
  display: inline-block;
  vertical-align: middle;
}

@include media-breakpoint-down('sm') {
  .hero-btn {
    display: block;
    width: 100%;
  }

  .hero-btn + .hero-btn {
    margin-top: 1rem;
  }
}


@include media-breakpoint-up('sm') {
  .hero {
    margin: 3rem 0;
    padding: 4rem 0;
  }

  .hero-title {
    font-size: 2.8em;
    text-shadow: 5px 5px $yarn-blue-darkest;
  }

  .hero-prompt {
    font-size: 2.8rem;
    margin: 0 0 1.3rem;
  }

  .hero-btn + .hero-btn {
    margin-left: 1rem;
  }
}

@include media-breakpoint-down('md') {
  .hero-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@include media-breakpoint-up('md') {
  .hero-title {
    font-size: 3.7em;
  }

  .hero-prompt {
    margin: 1rem 0;
    font-size: 2.4rem;
  }
}

@include media-breakpoint-up('lg') {
  .hero-title {
    font-size: 4em;
  }

  .hero-prompt {
    margin: 0.4rem 0;
    font-size: 3rem;
  }

  .hero-ghbtn {
    margin-left: 2rem;
  }
}

@include media-breakpoint-up('xl') {
  .hero-title {
    font-size: 4.5em;
  }

  .hero-prompt {
    margin: 0;
    font-size: 3.4rem;
  }
}
