.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  top: -2px;
}

.icon-language {
  background-image: url(/assets/language.svg);
  margin-right: 4px;
}
