.readMore {
  &--collapsed &--content{
    overflow: hidden;
    position: relative;
    margin-bottom: .2em;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 250px;
      width: 100%;
      box-shadow: inset 0 -100px 60px -60px white;
    }
  }

  &--content {
    overflow-x: auto;

    img {
      max-width: 100%;
    }
  }

  &--button {
    margin-left: 2em;
    padding: .3em .8em;
    padding-right: 0;
    border-radius: 0.2em;
    color: #666;
    border: 1px solid #CBCBCB;
    background-color: transparent;

    &:active, &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #CBCBCB;
    }

    img {
      width: .8em;
      margin: 0 1em;
    }
  }
}
