/** Algolia Doc Search **/


.search {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  
  .algolia-autocomplete {
    width: 100%;
    vertical-align: top;
  }
}

.search-input {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1.5rem 1rem 2rem;
  border: 1px solid $navbar-light-color;
  background: white url('/assets/search.svg') no-repeat 0.5rem center;
  background-size: 1rem 1rem;
  transition: border-color 0.2s ease;
  
  &:hover,
  &:active {
    border-color: $navbar-light-hover-color;
  }
  
  &:focus {
    border-color: $yarn-blue;
  }
}

::-webkit-input-placeholder { color: $navbar-light-color; }
:-moz-placeholder           { color: $navbar-light-color; opacity: 1; }
::-moz-placeholder          { color: $navbar-light-color; opacity: 1; }
:-ms-input-placeholder      { color: $navbar-light-color; }
:placeholder-shown          { color: $navbar-light-color; }

[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom-color: $yarn-blue;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: $yarn-blue;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  color: $yarn-blue-dark;
}
.algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
.algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
    color: $yarn-blue-darker;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background-color: $yarn-blue-darkest;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: $yarn-blue;
}
.aa-cursor .algolia-docsearch-suggestion {
  background: $yarn-blue-darker;
}

/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
    border-bottom-color: $yarn-blue;
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: $yarn-blue;
    background-color: $yarn-blue-darker;
    color: $yarn-blue-dark;
  }
}
