/** Algolia Pkg Search **/

$ais-focus-color: rgba(black,.7);
$ais-muted-color: rgba(black,.5);

.ais-SearchBox {
  &__root {
    background-color: $yarn-blue-darkest;
    padding: 1em 0;
    box-sizing: border-box;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      height: 7px;
      background: {
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASAAAAAOCAMAAAC4jDFAAAAAnFBMVEUGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaQGdaR+O0TsAAAAM3RSTlMNGhIKBAYWJh8BOJZTRoZOLD9xaJueqoJ9uKG+YmxZk6V2ijFesY7O3ujx9Obs+tf2xu94L0tHAAAFXElEQVR4ATyMBwIDIAgDMyDa/3+46QzK5gBKFmzP7KJJSOrcI0VodXhzWUUEdFOHMdIAuBbO46Mi6gypSYGfllKYEXnWJVwmNwLc50UfvTNjivqzuinsThFevY+NLR2wuzV1H621NpXAMy3zpjStGYZq78O2fXh4ySQWsIu0KDylVl/oDKRZPDkir4RZQRgKC44mNyYa7F0ZuO5/iT8OJU9p3zlUMUrdkEIpDK7lrh/GaV7WbRc+zvMaluGe7nXt++oaa++r7x60zEwQYZ7qk4MKIxC8wDawKs9HPMsEY0yeooXj+t8d37s602ra8HU/vn4OJWdQQ6xjt1sJiuTY+72Vf8XvfEp+TqVgPoVxEB+vJC4oYAkByCRsSLIWr6yOBUkaCAFsnluJccfcYiK0rwclOne48+w7giKTrr36exivdmcyqcBSdzBabCR2DPh68rsojWuy6Y/dKm2yEIWB890qP3iB8izFGkUSg8j8//+2jXvv2zd73xuvGOnuqFDVTm9mb/q1XxpTdr3xRHxIkH0qh+M0PgZyV4qR07mTyHHsbrJKb2rujHHrVOi5bZUxzbTZelHdPK/GFEOtKlXruqpGvfTmHGZ3uHYZt2IHw2nW8+zb7l2P2pnmclrV22Ku4TqxaVuPY20fAOptOht8taa7xJXt2nRtWxbjsCzK6vfyod8tJLZum/Q0qkdV6cWq6bxWNGOVnTCoqtTqXN+jAbn6ZdR20Hv0fr9Q7aryUdZ2KwqtqnldV3eVFqyAPcaqnM3xJnxQDByZxFNiih+IgJ2PxB8BGVK5LzHiHhGJOJEwYRMhjrhQyiHMgZljZPbJ0yE+Scq1kBIFTqhJDLda/uJ8yCECXMRo3AIG9iAJMJEDEpxFPFLKsgxZj6onSsAd9+aRkRBSybDcW2RsCT3lLjJnxoIhJwn9CF4LaQyMhjLIgwwpoxY5p5kZRei9ffwfn8ZbePHgVf2TMeHpJuT910b49hJeSD1phl/2Bt/CXiLffiHfa/1nhV/+mZ858vm5/fD6B7wSfjH8NeTpA/0fv98HCj//acD+GTA81Z/z3yHC7/GBwtNiDr9m7iJ5PeKHEuHp4S+L8OOthl/0cV4jkL3d578owj9hiVHiJP42FDg4ZndAOZVsMDzS7A5u4yDMKSFFEFNOmG8DQ/KV9WCiDBLQkVASyUR5Q5XIs5CH3o2l7JJAw8yCNMOShJg5I6fMG1MC7pCDc1uEcggRDAkdUUqBMTTdapS7uN1XrknKQQIZJvnKrkGWIJvjI8Z78grnC+45Hfz1JIZOIi+3WqSD5e0wc1mNjwrmUT9seTnYyblSuihgjGEzq6537tq9j7serB6X/pLDzT2qq6oAs5NV1m7Tep2TsouuqocaJz3B3lZVbcFaYpBalmEsyrbtmrUtnVxd87C2OadN9wuEb++sbyM9XGbZaqXd1RinR/3etf15rubMHrzYxqV1aGA4DYAjJPRt2ofCmHWeO7XUaKYxRrXtrItpdcZ0s9q0spMDgwjtZ/7i6XIUojfnMZTTLkEOJvKm70rTLP3aN7vZvmi5DrATBmEAgAKdTZYmBUpV5wBEWHf/G058+7f4t9+rst4K/ufjpBA4dLFokFMgMxnQxHErl/NjL1sQdQIKe84+eY/zeI4xRqGZMPYu40HjQ1YIhb1+/3fSoCalCRrMCK55IVePDl6fPnQjlw9+TfHtU7ZYK3tC18TE0NfeHGpPLh1rPR6FrQMNeXk8U/gpCd7J1noMO/d0Gw9sY18GCJDFNc7rlVmkaTW7Fp9LreulLPt+v7+C+WpmyTmxxO/71+16Oe+BNw8sMziyqyAv9Ae7m2KRAG8TDgAAAABJRU5ErkJggg==');
        repeat: repeat-x;
        size: 144px auto;
      }
    }

    &:after {
      bottom: -3.5px;
    }

    &:before {
      top: -3.5px;
    }
  }

  &__wrapper {
    @extend .container;
    display: flex;
    height: 2em;
  }

  &__input {
    order: 2;
    flex-grow: 1;
    background: none;
    border: none;
    font: inherit;
    color: white;

    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 .2em 0 #11668c;
    }

    @include placeholder {
      color: $yarn-blue-light;
      font-style: italic;
      font-weight: 100;
    }
  }

  &__reset, &__submit {
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    color: white;

    svg {
      width: 100%;
      height: 100%;
      fill: white;
    }
  }

  &__submit {
    order: 1;
  }

  &__reset {
    order: 3;
    display: none;
  }
}



.ais-Pagination {
  &__root {
    margin: 2em auto;
    @extend .pagination;
  }

  &__item {
    @extend .page-item;
  }

  &__itemLink {
    @extend .page-link;
  }

  &__itemSelected {
    @extend .active;
  }

  &__itemDisabled {
    @extend .disabled;
    visibility: visible;
    opacity: .3;
    cursor: default;
  }
}

.ais-Hits {
  &--item {
    padding: 1.5rem 1rem 2rem;
    border-bottom: 1px solid $gray-lighter;
    position: relative;

    em {
      font-style: normal;
    }
  }

  &__empty {
    padding: 2.5rem 0 2rem;
    border-bottom: 1px solid $gray-lighter;
  }
}

.ais-Hit {
  &--name {
    font-size: 1.625rem;
    font-weight: normal;
    color: $ais-focus-color;
    margin-right: 8px;
    position: relative;
    top: 2px;

    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
      color: rgba(black,.9);
    }

    em {
      border-bottom: dotted 1px;
    }
  }

  &--popular {
    font-size: .825rem;
    color: $ais-muted-color;
    margin-right: 8px;
    text-transform: uppercase;

    &::before{
      position: relative;
      display: inline-block;
      content: "";
      background-position: bottom center;
      background-repeat: no-repeat;
      background-image: url('/assets/search/ico-download.svg');
      width: 15px;
      height: 20px;
      margin-right: 3px;
      top: 2px;
    }

    &.hot-t4::before{
      background-image: url('/assets/search/ico-hot-t4.svg');
    }

    &.hot-t3::before{
      background-image: url('/assets/search/ico-hot-t3.svg');
    }

    &.hot-t2::before{
      background-image: url('/assets/search/ico-hot-t2.svg');
    }

    &.hot-t1::before{
      background-image: url('/assets/search/ico-hot-t1.svg');
    }
  }

  &--license {
    font-size: .75rem;
    border: solid 1px #ccc;
    color: $ais-muted-color;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 8px;
    letter-spacing: .2px;
  }

  &--version {
    font-size: .825rem;
    color: $ais-muted-color;
    font-weight: bold;
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  &--ownerLink {
    font-size: .69rem;
    font-weight: bold;
    color: $ais-focus-color;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin-right: 8px;
  }

  &--ownerAvatar {
    border-radius: 4px;
    margin-right: 2px;
    position: relative;
    top: -2px;
  }

  &--description {
    font-size: .875rem;
    color: $ais-muted-color;
    margin: .6rem 0;
    max-width: calc(100% - 120px);

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }

    em {
      border-bottom: dotted 1px;
    }

    &::first-letter {
      text-transform: uppercase
    }
  }

  &--lastUpdate {
    font-size: .825rem;
    color: $ais-muted-color;
    font-style: italic;
  }

  &--keywords {
    font-size: .825rem;
    color: $ais-muted-color;
    margin-left: 1em;
    font-style: italic;

    &:before {
      display: inline-block;
      content: "";
      background: url('/assets/search/ico-tag.svg') no-repeat;
      width: 16px;
      height: 8px;
      margin-right: 4px;
      opacity: .5;
    }
  }

  &--keyword {
    color: $ais-muted-color;

    em {
      font-style: italic;
      border-bottom: dotted 1px;
    }

    &:hover,
    &:visited {
      text-decoration: none;
    }
  }

  &--links {
    position: absolute;
    top: calc(50% - 12px);
    right: 1rem;

    @include media-breakpoint-down(xs){
      position: inherit;
    }
  }

  &--link-homepage,
  &--link-npm,
  &--link-github {
    margin-left: .8em;
    display: block;
    float: right;

    a {
      display: block;
      opacity: .5;
      text-indent: -9000px;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        opacity: .7;
      }
    }
  }

  &--link-homepage a {
    background-image: url('/assets/search/ico-home.svg');
    width: 26px;
    height: 26px;
  }

  &--link-npm a {
    background-image: url('/assets/search/ico-npm.svg');
    width: 34px;
    height: 26px;
  }

  &--link-github a {
    background-image: url('/assets/search/ico-github.svg');
    width: 26px;
    height: 26px;
  }
}

.ais-CurrentRefinements {
  &__items {
    display: inline-block;
    margin-top: 1em;
    font-size: .8125rem;
  }

  &__item:not(&__itemParent) {
    display: inline-block;
    border: 1px solid $gray-lighter;
    border-radius: 2px;
    margin-right: .5em;
    padding: 0 .5em;
  }

  &__itemClear {
    background: none;
    border: none;
  }
}

#pkg-featured {
  margin-top: 4em;

  .pkg-featured-pkg {
    padding: 1rem;
    border-bottom: solid 1px $gray-lighter;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
    }

    .ais-Hit--keywords {
      margin-left: 0;

      a {
        color: $ais-muted-color;
      }
    }
  }
}


/** Algolia Doc Search **/

.search {
  display: inline-block;
  vertical-align: top;

  .algolia-autocomplete {
    width: 100%;
    vertical-align: top;
  }
}

.search-input {
  padding: 1rem 1.5rem 1rem 2.5rem;
  background: white url('/assets/search.svg') no-repeat 1rem center;
  background-size: 1rem 1rem;
}

/* Override */
.aa-dropdown-menu {
  min-width: auto !important;
  width: 100% !important;
}

/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom-color: $yarn-blue;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: $yarn-blue;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  color: $yarn-blue-dark;
}
.algolia-docsearch-suggestion--title .algolia-docsearch-suggestion--highlight,
.algolia-docsearch-suggestion--subcategory-column .algolia-docsearch-suggestion--highlight {
    color: $yarn-blue-darker;
}
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  background-color: $yarn-blue-darkest;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: $yarn-blue;
}
.aa-cursor .algolia-docsearch-suggestion {
  background: $yarn-blue-darker;
}

/* For bigger screens, when displaying results in two columns */
@media (min-width: 768px) {
  /* Bottom border of each suggestion */
  .algolia-docsearch-suggestion {
    border-bottom-color: $yarn-blue;
  }
  /* Left column, with secondary category header */
  .algolia-docsearch-suggestion--subcategory-column {
    border-right-color: $yarn-blue;
    background-color: $yarn-blue-darker;
    color: $yarn-blue-dark;
  }
}

.search-footer {
  text-align: center;
}
