---
id: compare
layout: page
---

{% assign max = 0 %}

{% for comparison in site.data.comparison %}
  {% if comparison.times.npm > max %}{% assign max = comparison.times.npm %}{% endif %}
  {% if comparison.times.yarn > max %}{% assign max = comparison.times.yarn %}{% endif %}
{% endfor %}

{% assign times = site.__empty_array__ | slice: 0 %}
{% assign sorted = site.__empty_array__ | slice: 0 %}

{% for comparison in site.data.comparison %}
  {% assign times = times | push: comparison.times.npm %}
{% endfor %}

{% assign times = times | sort | reverse %}

{% for time in times %}
  {% for comparison in site.data.comparison %}
    {% if comparison.times.npm == time %}
      {% assign sorted = sorted | push: comparison %}
    {% endif %}
  {% endfor %}
{% endfor %}

<p class="lead text-xs-center">
  Time to install React Native's dependencies on a MacBook Pro (Mid 2015) in
  different scenarios.
  <br>
  <small>(Lower is better - average of 5 runs per scenario)</small>
</p>

<p class="text-xs-center">
  <span class="compare-legend-icon compare-legend-icon-npm"></span>
  npm
  <span class="compare-legend-icon compare-legend-icon-yarn"></span>
  Yarn
</p>

{% for comparison in sorted %}

  {% capture npmPretty %}{% include beautify_ms.html ms=comparison.times.npm %}{% endcapture %}
  {% capture yarnPretty %}{% include beautify_ms.html ms=comparison.times.yarn %}{% endcapture %}

  <div class="compare">
    <h4 class="compare-heading">
      <span class="tag tag-{% if comparison.warm_cache %}success{% else %}default{% endif %}">
        {% if comparison.warm_cache %}✔{% else %}✗{% endif %}
        Warm Cache
      </span>

      <span class="tag tag-{% if comparison.node_modules %}success{% else %}default{% endif %}">
        {% if comparison.node_modules %}✔{% else %}✗{% endif %}
        node_modules
      </span>

      <span class="tag tag-{% if comparison.lockfile %}success{% else %}default{% endif %}">
        {% if comparison.lockfile %}✔{% else %}✗{% endif %}
        Lockfile/Shrinkwrap
      </span>
    </h4>

    <div class="compare-item compare-item-npm row">
      <div class="compare-item-label col-md-3" id="">
        npm ({{npmPretty | strip_newlines | strip }})
      </div>
      <div class="col-md-9">
        <progress class="progress compare-item-progress " value="{{comparison.times.npm}}" max="{{max}}"></progress>
      </div>
    </div>

    <div class="compare-item compare-item-yarn row">
      <div class="compare-item-label col-md-3" id="">
        Yarn ({{yarnPretty | strip_newlines | strip}})
      </div>
      <div class="col-md-9">
        <progress class="progress compare-item-progress" value="{{comparison.times.yarn}}" max="{{max}}"></progress>
      </div>
    </div>
  </div>
{% endfor %}

<p class="small text-xs-center text-muted m-t-2">
  September 30, 2016 &middot;
  Node.js v6.2.2 &middot;
  npm 3.10.3 &middot;
  Yarn 0.13.0 &middot;
  MacBook Pro (2.8 GHz Intel Core i7, 16 GB 1600 MHz DDR3)
</p>
